<%- include("partials/header.ejs")%>

    <header id="header">
        <h1>Portfolio</h1>
    </header>

    <section id="darkmode">
        <p id="P">DarkMode</p>
        <input type="button" id="btnDarkMode" value="Toggle"></input>
    </section>
    <main>
        <section id="boxContainer">
            <img src="/assets/foto-van-mezelf-cropt.jpg" width="180px" alt="" id="imgProfile">
            <h3>Welkom op mijn Portfolio, Mijn naam is Joachim.</h3>
            <p>Als Student op AP Hogeschool doe ik de ricthing Programmeren</p>


            <br>
            <p>Als Developer zijn mijn intressen:</p>
            <ul>
                <li>javascript</li>
                <li>ejs</li>
                <li>git</li>
                <li>c#</li>
                <li>typescript</li>
                <li>css</li>
                <li>Artificial intelligence</li>
            </ul>

            <form action="http://localhost:3000" method="post" id="form">
                <h3>Stuur me een bericht:</h3>
                <input type="text" name="naam" placeholder="naam">
                <input type="email" name="email" placeholder="email">
                <input type="text" name="comment" placeholder="bericht">
                <input type="submit">
            </form>

            <input type="button" id="battlerlink">
        </section>
    </main>

    <aside>

    </aside>


    <script src="/js/javascript.js"></script>
    <%- include("partials/footer.ejs")%>