html,
body {
    margin: 0%;
    display: grid;
    grid-template-areas:
        'header'
        'main'
        'footer';
    background-color: var(--backgroundColor--);
}

:root {
    --primaryColor--: #1F2340;
    --backgroundColor--: #F5F5F5;
    --secondColorBack--: #333C48;
    --textColorBordersetc--: #707C8E;
    /* DarkMode */
    --primaryColorDark--: #E0DCCF;
    --backgroundColorDark--: #0A0A0A;
    --secondColorBackDark--: #CCC3B7;
    --textcolorBordersetcDark--: #8F8371;
}



footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: aliceblue;
    background-color: black;
    margin-top: 30px;
}

header {
    display: flex;
    justify-content: center;
    color: var(--textColorBordersetc--);
}

main {
    display: flex;
    justify-content: center;
}

#boxContainer {
    background-color: var(--secondColorBack--);
    padding-left: 400px;
    padding-right: 400px;
    padding-bottom: 200px;
    padding-top: 140px;
    border-radius: 15px;
    color: var(--textColorBordersetc--);
    box-shadow: 7px 10px 20px black;
}



#form {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#imgProfile {
    top: 15%;
    right: 25%;
    position: absolute;
    border-radius: 50%;
    border: white 5px solid;
    border-style: solid;
}

#darkmode {
    top: 5%;
    right: 10%;
    position: absolute;
}

#btnDarkMode {
    width: 70px;
    height: 25px;
    border-radius: 10px;
    box-shadow: 0px 5px 10px black;
}

#btnDarkMode:active {
    box-shadow: 0px 0px 0px white;
    background-color: var(--primaryColor--);
    content: "hallo";
}

#P {
    color: var(--textColorBordersetc--);
}

/* 
For a portfolio website, you might want to consider a color palette that reflects professionalism, creativity, and sophistication. Here's a suggestion:

Primary Color: #3E84B1 (Steel Blue)
This deep and cool blue color exudes professionalism and stability, creating a sense of trust for your portfolio.

Accent Color: #FF6B6B (Coral)
Adding a pop of vibrant coral as an accent color can bring energy and creativity to your portfolio, making it visually appealing.

Background Color: #F7F7F7 (Light Gray)
Opting for a light gray background color keeps the focus on your work and ensures readability without distracting from the content.

Complementary Color: #6CA8B1 (Teal)
Teal is a complementary color that pairs well with the primary and accent colors. It adds a touch of elegance and sophistication to your portfolio.

Call-to-Action Color: #FFA500 (Orange)
Use a vibrant orange color for your call-to-action buttons or links to create a sense of urgency and encourage visitors to explore your work further. */